<%@requests.each do |request|%>
<div class="d-flex justify-content-center align-items-center">
  <%=request.user.username%>
  <%= button_to 'Accept', accept_requests_path(id: request.user) , method: :post , class: "btn btn-outline-dark req-btn"%>
  <%= button_to 'Reject',  reject_request_path(request) , method: :delete , class: "btn btn-outline-dark req-btn"%>
  </div>
  <hr>
<%end%>
<% if @requests.count == 0 %>
  <p class="text-center text-secondary"> No Request found </p>
<% end %>
