<div class="reg-form">
  <div class="reg-content border">
    <h2 class="logo">Update Profile Picture</h2>
    <div class= "sign-up-text"> Update Profile Picture to show on profile</div>
    <hr>
    <br>
    <%= form_with(model: @user , url: user_profile_picture_path(@user.id)) do |f| %>
      <div class="field input-group">
        <%= f.file_field :image, class: "form-control" , direct_upload: true%>
      </div>
      <div class="actions">
        <%= f.submit "Update Picture" , class: "btn btn-primary full-width"%>
      </div>
    <% end %>
    <br>
    <hr>
  </div>
</div>
