<div class= "post-body">
  <h1 class="text-center logo">Stories</h1>
  <%if @stories.count == 0%>
    <p class="text-center text-secondary"> No Story found </p>
    <%else%>
  <div class="carousel " data-flickity='{ "freeScroll": true }'>
    <%@stories.each do |story|%>
      <%if story.image.attached?%>
        <div class="carousel-cell d-flex ">
          <%=image_tag story.image, class: "post-pic story-pic"%>
          <div class="story">
            <%= button_to('Delete', user_story_path(id: story.id), method: :delete, class: "btn btn-danger ")if policy(story).destroy?%>
          </div>
        </div>
      <%end%>
    <%end%>
    <%end%>
  </div>
</div>
<%=javascript_pack_tag 'flickity'%>
