<div class="reg-form">
  <div class="reg-content border">
    <h2 class="logo">Create Post</h2>
    <div class= "sign-up-text">    Create Posts to share with your followers.</div>
    <hr>
    <br>
    <%= form_with model: @post do |f| %>
      <div class="field">
        <%= f.text_field :body,  placeholder: "Add Caption", class: "form-control"%>
      </div>
      <div class="field input-group">
        <%= f.file_field :images,  multiple: true, class: "form-control", accept: "image/*", direct_upload: true%>
      </div>
      <div class="actions">
        <%= f.submit "Publish Post" , class: "btn btn-primary full-width"%>
      </div>
    <% end %>
    <br>
    <hr>
  </div>
</div>
