// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

/* external css: flickity.css */

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.carousel {
  background: #eee;
}

.carousel-cell {
  width: 44%;
  height: 400px;
  margin-right: 10px;
  background: rgb(255, 255, 255);
  border-radius: 5px;
  counter-increment: gallery-cell;
}

/* cell number */
.carousel-cell:before {
  display: block;
  text-align: center;
  content: counter(gallery-cell);
  line-height: 200px;
  font-size: 80px;
  color: white;
}

.post-body {
  padding: 1% 10%;
}

.post-btn {
  display: flex;
  justify-content: space-between;
}
.del-upd-btn {
  flex-basis: 6.8vw;
  display: flex;
  justify-content: space-between;
}

.add-comment-btn {
  display: flex;
  justify-content: center;
  form,
  h2 {
    margin-left: auto;
  }
}

.none {
  display: none;
}

.block {
  display: block;
}
